.container {
    display: flex;
    gap: 20px;
    margin: 40px;
    padding-right: 20px;
    align-items: flex-start;
    padding-top: 20px;

    .sideBar,
    .courseInfo {
        background: rgba(203, 198, 198, 0.5);
        padding: 16px;
        border-radius: 8px;
    }

    .sideBar {
        min-width: 360px;
        max-width: 360px;
    }

    .courseInfo {
        text-align: justify;
        flex-grow: 1;
    }
}